 

<h2 class="section-title">Featured Work</h2> 

<!-- desktop version-->
<div class="carousel-autoplay" id="featured-work">
  <a href="/ux"><%= image_tag("/images/work_samples/sample1.png") %></a>
  <a href="/ux"><%= image_tag("/images/work_samples/sample2.png") %></a>
  <a href="/ux"><%= image_tag("/images/work_samples/sample3.png") %></a>
  <a href="/ux"><%= image_tag("/images/work_samples/sample4.png") %></a>
</div>

<!-- mobile version -->
<div class="carousel-autoplay" id="m-featured-work">
  <%= image_tag("/images/work_samples/m-sample1.png") %>
  <%= image_tag("/images/work_samples/m-sample2.png") %>
  <%= image_tag("/images/work_samples/m-sample3.png") %>
</div>


<script>
  $(document).ready(function(){

    /* http://kenwheeler.github.io/slick/ */
    $('.carousel-autoplay').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 3500,
      arrows: true,
      fade: true,
      pauseOnHover: true,
      dots: true,
      pauseOnDotsHover: true
    });


  });
</script>
